
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
/tmp/cache/*
log/development.log
.byebug_history
app/assets/javascripts/*.coffee
app/assets/stylesheets/sessions.scss
/public/uploads
